body{
    background-image: url('/static/images/prasad2.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    height:100vh;

}
div.main{
width:400px;
margin:100px auto 0px auto;
}
h3{
text-align:center;
padding:20px;
font-family:sans-serif;
}
div.sub{
background-color:rgba(0,0,0,0.4);
width:100%;
font-size:18px;
border-radius:10px;
border:1px soid rgba(255,255,255,0.3);
border-shadow:2px 2px 15px;
rgba(0,0,0,0.3);
color:#FFFFFF;
 margin:40px;
}
input#dis{
margin-left:10px;
border-radius:10px;
}
input#hor{
margin-left:18px;
border-radius:10px;
}
input#weight{
margin-left:23px;
border-radius:10px;
}
input#acce{
margin-left:20px;
border-radius:10px;
}
input#submit{
margin-left:120px;
border-radius:10px;
}