{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>mpg</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <div class="main" >
        <div class="sub">
         <h3><lable>Car Mileage prediction</lable></h3>
        <form name="myFrom"  action="predict" style="margin-left:40px" onsubmit="return validateForm()" >
            displacement(68-455)<input type="number" step= "0.01" name="dis" id="dis"  required/><br><br>
            horsepower(66-138)<input type="number"  step= "0.01" name="hor" id="hor"  required /><br><br>
            weight(1613-5140) <input type="number" step= "0.01" name="weight" id="weight"  required/><br><br>
            acceleration(13-18) <input type="number"  step= "0.01" name="acce" id="acce"  required/><br><br>
            <input type="submit"  id="submit" name="predict" class="button"  />
                    </form>
                </div>
            </div>

            <script>
                function validateForm() {
                    var displacement = parseFloat(document.getElementById("dis").value);
                    var horsepower = parseFloat(document.getElementById("hor").value);
                    var weight = parseFloat(document.getElementById("weight").value);
                    var acceleration = parseFloat(document.getElementById("acce").value);
        
                    if (displacement >= 68 && displacement <= 455 &&
                        horsepower >= 66 && horsepower <= 138 &&
                        weight >= 1613 && weight <= 5140 &&
                        acceleration >= 13 && acceleration <= 18) {
                        return true;
                    } else {
                        alert("Please enter values within the specified range.");
                        return false;
                    }
                }
            </script>
</body>
</html>